@import "elements/nullstyle.scss";
@import "elements/iconfont.scss";

$maxWidth: 2014;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// ! ================== = Technical ===========================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1040px;
	padding: 0 20px;
	margin: 0 auto;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: black;
	color: white;
}
// ! ===================== Header =============================
.header {
	flex: 0 0 auto;
	border-bottom: 2px solid white;
	&__body {
		padding: 10px 0;
		display: flex;
		flex-direction: column;
	}

	&__title {
		@include adaptiv-font(30, 20);
		text-align: center;
		padding: 10px 0;
		margin: 0px 0px 30px 0px;
		border-top: 3px dotted white;
		border-bottom: 3px dotted white;
		border-radius: 15px;
	}

	&__content {
		display: flex;
		overflow-x: auto;
		width: 100%;
		justify-content: flex-start;
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin: 0px 40px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__img {
		width: 130px;
		border-radius: 50%;
		border: 3px solid white;
		margin: 0px 0px 15px 0px;
	}

	&__extend {
		@include adaptiv-font(25, 20);
		display: flex;
		justify-content: space-around;
		padding: 3px;
		border-radius: 8px;
		border-top: 2px solid white;
	}
}
// ! ===================== Main ==========================
.content {
	flex: 1 0 auto;
	border: 2px solid white;
	border-top: none;
	padding: 20px 0;
	&__body {
	}
}

.card {
	// display: flex;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -30px;
	&.active {
		display: flex;
	}
	&__item {
		flex: 0 0 130px;
		padding: 5px 15px;
		display: flex;
		flex-direction: column;
	}

	&__img {
		width: 100%;
		border-radius: 50%;
		border: 2px solid white;
		margin: 0px 0px 5px 0px;
	}

	&__description {
		text-align: center;
	}
}
